*{
  margin: 0px;
  padding: 0px;
  font-family: 'Oxanium';
}

header{
  background: url(../img/head.jpg) no-repeat center center fixed;
  height: 55vh;
  width: 100%;
  position: relative;
  outline: 5px dashed #999b7f;
  margin-bottom: 10vh;
}

header > h1{
  animation: type 2s steps(13);
  overflow: hidden;
  white-space: nowrap;
  font-size: 380%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: #e7ea51;
}

nav{
  position: relative;
  width: 50%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

a{
  text-decoration: none;
  color: #e7ea51;
}

li{
  overflow: hidden;
  white-space: nowrap;
  display: inline;
  margin: 1%;
}


.huidig{
  color: #EDAF28;
}

@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: 9ch;
  }
}

body{
  font-size: 16px;
  background: linear-gradient(#e7ea51, #626357);
  min-height: 100vh;
  color: #e7ea51;
}

main{
  width: 80%;
  margin: 0 auto;
}

.product{
  left: 25%;
  width: 70%;
  box-shadow: 3px 4px 8px 1px rgba(0,0,0,0.2);
  border: 5px solid  #999b7f;
  border-radius: 12px;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: #626357;
  left: 50%;
  transform: translateX(-50%);
}

.product > h1{
  background-color: #626357;
  text-align: center;
  color: #e7ea51;
  width: 100%;
  border-radius: 7px;
  position: relative;
}

.product > p{
  display: inline;
}

img{
  width: 25%;
  height: auto;
  border-radius: 5px;
  vertical-align: middle;
  position: relative;
}

textarea{
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  height: 20px;
  margin-bottom: 10px;
  resize: none;
}

.voornaam{
  width: 48%;
}

.achternaam{
  width: 48%;
}

.straat{
  width: 70%;
}

.huisnummer{
  width: 5%;
}

.postcode{
  width: 30%;
}

.telefoonnummer{
  width: 50%;
}

form{
  width: 90%;
  margin: 0 auto;
}

button{
  width: 90px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5%;
  color: #e7ea51;
  font-weight: bold;
  background-color: #626357;
  border: 3px solid #e7ea51;
  border-radius: 6px;
}



@media (max-width: 880px){

  nav{
    width: 70%;
  }

  .product{
    width: 100%;
  }

}

@media (max-width: 630px){

  .product{
    width: 80%;
  }

  .product > p{
    font-size: 120%;
    display: block;
    padding: 2vh;
  }

  img{
    width: 100%;
  }

}

@media(max-width: 585px){

  li{
    display: block;
  }

  textarea{
    font-size: 80%;
    height: 18px;
  }

  main{
    width: 100%;
  }

  .product{
    width: 80%;
  }

}
