<form>
 <label>Vul uw gegevens in</label><br>
 <textarea rows="1" class="voornaam" placeholder="Voornaam"></textarea>
 <textarea rows="1" class="achternaam" placeholder="Achternaam"></textarea>
 <textarea rows="1" class="straat" placeholder="Straatnaam"></textarea>
 <textarea rows="1" class="huisnummer" placeholder="Nr"></textarea>
 <textarea rows="1" class="postcode" placeholder="Postcode"></textarea>
 <textarea rows="1" class="telefoonnummer" placeholder="(mobiele)Telefoonnummer"></textarea><br>
 <button type="submit">Bestel</button>
</form>
