<li class="js--card">
  <a href="{{product_path}}">
  <h2 class="js--cardHeader">{{title}}</h2>
  <figure>
    <img src="{{{image_path}}}" alt="{{title}} image">
    <figcaption>{{price}}</figcaption>
  </figure>
  </a>
</li>
